<div class="center hero-unit">
  <h1>Welcome to Shift Express</h1>

  <h2>
    This is the home page for Shift Express.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("shiftex.png", alt: "Shift Express"), '#' %>
